body {
    background-color: #cecce3;
    font-family: "Raleway", sans-serif;
}
.container {
    display: inline-block;
    position: relative;
    width: 60%;
    background-size: contain;
    margin-left: 20%;
    margin-right:20%;
    background-color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
.answer_div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.answer {
    color: white;
    border: 1px solid #cecce3;
    padding: 3px 6px;
    height: 30px;
    line-height: 30px;
    min-width: 30%;
}
.answer:hover{
    color: green;
}

.page_title {
    width: 100%;
    text-align: center;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}
h1 em {
    font-style: normal;
    font-weight: 600;
}
.page_title h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.page_title h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
}

.page_title h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
}

/* Button style */

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #ab8aba;
    border-radius: 3px;
  }
  
  .btn1:hover {
    background-color: #ab8aba;
    color: white;
  }

  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_picture{
      width: 20%;
      margin: 5px;
  }
  .reserved_red {
      color: red;
      font-weight: bold;
  }
  .reserved_blue {
    color: blue;
    font-weight: bold;
}

.code {
    color: #3b3b3b
}

.quiz_result{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}