#nav_Bar {
  margin-bottom: 50px;
}

#nav_Bar li {
    color: white;
}

#homePage {
  font-family: "navFont";
  padding-top: 70px;
}

#footy a {
  margin-left: 20px;
}

#content {
  margin: 50px;
}

html {
  scroll-behavior: smooth;
}

li {
  padding-left: 10px;
}

li p {
  padding-top: 24px;
  display: inline-block;
}

@font-face {
  font-family: "navFont";
  src: url("../fonts/expressway.ttf");
}

.question {
  font-size: 18px;
}

.course-list {
  font-size: 16px;
}

.option {
   width: 30px;
}

@media screen and (max-width: 768px) {
  #sliding {
    display: none;
  }
  #About {
    padding-bottom: 60px;
    margin-top: 180px;
  }
  #homePage {
    padding-top: 150px;
  }
  .progress {
    display: none;
  }

  #tabVol {
    display: none;
  }
}