html {
  scroll-behavior: smooth;
}

li {
  padding-left: 10px;
}

li p {
  padding-top: 24px;
  display: inline-block;
}

ul li h4 {
  color: white;
  font-size: 14pt;
}

ul li a {
  color: black;
  font-weight:bold;
  font-size: 12pt;
}

.img-circle {
  display: inline-block;
}

.maps{
  width: 50%;
  display: inline-block;
}

.dropdown-menu{
  background-color: #333333;
}

.dropdown-menu li a{
  color: #FFFFFF;
}

.jumbotron{
  background-color: #FFFFFF;
}

.submenu ul {
  list-style-type: none;
  text-align: center;
  padding-right: 34px;
  font-weight: bold;
}

.sliders{
  margin: 0;
}

#footy{
  background-color: #000000;
  padding-bottom: 60px;
  margin-top: 50px;
  padding-top: 10px;
}

#About {
  padding-bottom: 60px;
}

#footy a {
  margin-left: 20px;
}

#nav_Bar {
 /* background-color: #020509;*/
  background-color: #18121E;
  float: right;
  text-align: right;
}

#nav_Bar li {
    color: white;
}

button{
  background-color: #000000;
  color:#FFFFFF;
}

.educateIcon {
  margin-bottom: 10px;
}

.calendar {
  transform: translateY(-2px);
  width:15px;
}

.thumbnails{
  width: 50%;
  height: 21%;
  border-radius: 15px;

}

#homePage {
  font-family: "navFont";
}

.thumbnails:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #sliding {
    display: none;
  }
  #About {
    padding-bottom: 60px;
    margin-top: 180px;
  }
  .progress {
    display: none;
  }
  #tabVol {
    display: none;
  }
}

@font-face {
  font-family: "navFont";
  src: url("../fonts/expressway.ttf");
}